/* $Id: NemuOGLerrorspu.rc $ */
/** @file
 * NemuOGLerrorspu.rc - Resource file containing version info and icon.
 */

/*
 * Copyright (C) 2015 Oracle Corporation
 *
 * This file is part of VirtualBox Open Source Edition (OSE), as
 * available from http://www.virtualbox.org. This file is free software;
 * you can redistribute it and/or modify it under the terms of the GNU
 * General Public License (GPL) as published by the Free Software
 * Foundation, in version 2 as it comes in the "COPYING" file of the
 * VirtualBox OSE distribution. VirtualBox OSE is distributed in the
 * hope that it will be useful, but WITHOUT ANY WARRANTY of any kind.
 */

#include <windows.h>
#include <Nemu/version.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
  FILEVERSION      NEMU_RC_FILE_VERSION
  PRODUCTVERSION   NEMU_RC_FILE_VERSION
  FILEFLAGSMASK    VS_FFI_FILEFLAGSMASK
  FILEFLAGS        NEMU_RC_FILE_FLAGS
  FILEOS           NEMU_RC_FILE_OS
  FILETYPE         NEMU_RC_TYPE_DLL
  FILESUBTYPE      VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0" // Lang=US English, CharSet=Unicode
    BEGIN
#ifdef IN_GUEST
      VALUE "FileDescription",  "Nemu crOpenGL ICD\0"
# ifdef NEMU_WDDM_WOW64
      VALUE "InternalName",     "NemuOGLerrorspu-x86\0"
      VALUE "OriginalFilename", "NemuOGLerrorspu-x86.dll\0"
# else
      VALUE "InternalName",     "NemuOGLerrorspu\0"
      VALUE "OriginalFilename", "NemuOGLerrorspu.dll\0"
# endif
      VALUE "ProductName",      NEMU_RC_PRODUCT_NAME_GA_STR
#else
      VALUE "FileDescription",  "Nemu crOpenGL ICD\0"
      VALUE "InternalName",     "NemuOGLhosterrorspu\0"
      VALUE "InternalFilename", "NemuOGLhosterrorspu.dll\0"
      VALUE "ProductName",      NEMU_RC_PRODUCT_NAME_STR
#endif

      VALUE "CompanyName",      NEMU_RC_COMPANY_NAME
      VALUE "FileVersion",      NEMU_RC_FILE_VERSION_STR
      VALUE "LegalCopyright",   NEMU_RC_LEGAL_COPYRIGHT
      VALUE "ProductVersion",   NEMU_RC_PRODUCT_VERSION_STR
      NEMU_RC_MORE_STRINGS
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END

// XXX is this really required?
#if defined(NEMU_WDDM_WOW64) && defined(IN_GUEST)
1 RCDATA
BEGIN
// Machine dependent parameters
    17,     // Height of vertical thumb
    17,     // Width of horizontal thumb
    2,      // Icon horiz compression factor
    2,      // Icon vert compression factor
    1,      // Cursor horz compression factor
    1,      // Cursor vert compression factor
    0,      // Kanji window height
    1,      // cxBorder (thickness of vertical lines)
    1       // cyBorder (thickness of horizontal lines)
END
#endif
